.DS_Store
*.afdesign~lock~
/Working Files/Adobe After Effects Auto-Save
Working Files/Exported Knobs/HoriSlider/HoriSlider_Build_\#\[128,32\].png
Instrument/.DS_Store
Instrument/.DS_Store
Instrument/Resources/.DS_Store
